<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>

<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>

<p appHighlight [color]="color">Highlight me!!</p>

<p appHighlight [color]="color" [defaultColor]="dColor">Highlight me too!!</p>

<h1>My First Structural Directive</h1>

<h2>Content showing conditionally</h2>

<p *appUnless="condition" class="unless a">
  (A) This paragraph is displayed because the condition is false.
</p>

<p *appUnless="!condition" class="unless b">
  (B) Although the condition is true,this paragraph is displayed because
  appUnless is set to false.
</p>

<p>
  The condition is currently
  <span [ngClass]="{ a: !condition, b: condition, unless: true }">{{
    condition
  }}</span
  >.
  <button
    type="button"
    (click)="condition = !condition"
    [ngClass]="{ a: condition, b: !condition }"
  >
    Toggle condition to {{ condition ? 'false' : 'true' }}
  </button>
</p>
<br />

<h2>Hidding Header after some seconds</h2>
<section *hideAfter="5000; then anotherTemplate">
  <h4>Temporary content</h4>
  <p>This should be <strong>hidde</strong> after 5 seconds</p>
</section>

<ng-template #anotherTemplate>
  <h4>Supplent content</h4>
  <p>This should be <strong>showed</strong> after 5 seconds</p>
</ng-template>
